<div class="col-md-12">
  <div class="card card-container">

      <h1>Restablecer Contraseña</h1>

      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Correo Electrónico</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Nueva Contraseña:</label>
          <input type="password" id="password" name="password" [(ngModel)]="newPassword" class="form-control"required>
        </div>
        <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
        <div class="alert alert-danger" *ngIf="!submitted && isResetFailed">
          Fallo el envio: {{ errorMessage }}
        </div>
      </form>

      <div class="alert alert-success" *ngIf="isSuccessful">
        {{this.message}}
      </div>

  </div>
</div>
